In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [2]:
cleaned_culture_data = pd.read_csv("Cleaned_Date_Culture_Data.csv")
cleaned_dna_data = pd.read_csv("Cleaned_Date_DNA_Data.csv")

In [4]:
culture_beach_lat_long_df = cleaned_culture_data[["Beach", "Latitude", "Longitude"]]
culture_beach_lat_long_df = culture_beach_lat_long_df.drop_duplicates(subset="Beach")
culture_beach_data = pd.read_csv("Culture Beach Data.csv")
beach_culture_df = pd.merge(culture_beach_data, culture_beach_lat_long_df, on="Beach", how="inner")
beach_culture_df.head()

         Beach  Culture Reading Mean  Latitude  Longitude
0  12th Street            151.680685   41.8638   -87.6083
1  57th Street            154.944431   41.7911   -87.5797
2  63rd Street            306.450355   41.7827   -87.5748
3      Calumet            227.592369   41.7142   -87.5299
4        Fargo             44.843750   42.0161   -87.6647

In [37]:
dna_beach_lat_long_df = cleaned_dna_data[["Beach", "Latitude", "Longitude"]]
dna_beach_lat_long_df = dna_beach_lat_long_df.drop_duplicates(subset="Beach")
dna_beach_data = pd.read_csv("DNA Beach Data.csv")
dna_beach_df = pd.merge(dna_beach_data, dna_beach_lat_long_df, on="Beach", how="inner")
dna_beach_df.head()

         Beach  DNA Reading Mean  Latitude  Longitude
0  12th Street        677.739410   41.8638   -87.6083
1  57th Street        341.875410   41.7911   -87.5797
2  63rd Street        823.011876   41.7827   -87.5748
3      Calumet        516.911944   41.7142   -87.5299
4       Foster        200.337954   41.9785   -87.6515

In [29]:
# Configuring gmaps key
gmaps.configure(api_key=g_key)

In [30]:
# Creating heatmap
locations = beach_culture_df[["Latitude", "Longitude"]]
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=beach_culture_df["Culture Reading Mean"], 
                                 dissipating=False, max_intensity=beach_culture_df["Culture Reading Mean"].max(),
                                 point_radius = 0.01)
fig.add_layer(heat_layer)
new_marker = gmaps.marker_layer(locations, info_box_content=beach_culture_df["Beach"])
fig.add_layer(new_marker)
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Creating heatmap
locations = dna_beach_df[["Latitude", "Longitude"]]
fig2 = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=dna_beach_df["DNA Reading Mean"], 
                                 dissipating=False, max_intensity=dna_beach_df["DNA Reading Mean"].max(),
                                 point_radius = 0.01)
fig2.add_layer(heat_layer)
new_marker = gmaps.marker_layer(locations, info_box_content=dna_beach_df["Beach"])
fig2.add_layer(new_marker)
fig2

Figure(layout=FigureLayout(height='420px'))