In [1]:
import pandas as pd
import datetime

In [2]:
##Culture data import
culturedata = pd.read_csv("Cleaned_Date_Culture_Data.csv")

In [3]:
##year column by itself
culturedata['Year'] = pd.DatetimeIndex(culturedata['Sample Date']).year
culturedata

,Unnamed: 0,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Latitude,Longitude,Sample Date,Sample Time,Year
0,2231,113666.0,2016-08-04 08:30:00,Humboldt,1.0,1.0,1.0,41.90643,-87.703717,2016-08-04,08:30:00,2016
1,2374,112689.0,2016-06-01 07:15:00,Calumet,629.0,1300.0,904.3,41.71420,-87.529900,2016-06-01,07:15:00,2016
2,2375,112669.0,2016-06-01 08:00:00,Calumet,345.0,517.0,422.3,41.71420,-87.529900,2016-06-01,08:00:00,2016
3,4980,109008.0,2013-05-26 00:00:00,57th Street,17.0,20.0,18.4,41.79110,-87.579700,2013-05-26,00:00:00,2013
4,4983,93134.0,2015-07-07 00:00:00,Leone,727.0,727.0,727.0,42.01310,-87.663500,2015-07-07,00:00:00,2015
...,...,...,...,...,...,...,...,...,...,...,...,...
14817,24278,108062.0,2013-08-19 00:00:00,Juneway,2.0,1.0,1.4,42.02240,-87.667400,2013-08-19,00:00:00,2013
14818,24280,109868.0,2014-07-31 00:00:00,Leone,25.0,18.0,21.2,42.01310,-87.663500,2014-07-31,00:00:00,2014
14819,24281,113525.0,2016-07-26 09:00:00,Howard,30.0,36.0,32.9,42.01880,-87.666300,2016-07-26,09:00:00,2016
14820,24283,112193.0,2012-05-24 00:00:00,Howard,10.8,8.6,9.6,42.01880,-87.666300,2012-05-24,00:00:00,2012
14821,24284,112347.0,2014-06-16 00:00:00,Rainbow,25.0,12.0,17.3,41.75800,-87.551000,2014-06-16,00:00:00,2014

In [4]:
culturedata['Year'].dtypes

dtype('int64')

In [5]:
culturedata['Year'] = culturedata['Year'].apply(str)

In [6]:
# culturedata.set_index('Year', inplace=True)
# culturedata

In [7]:
culturedata['Year'].dtypes

dtype('O')

In [8]:
dnadata = pd.read_csv("Cleaned_Date_DNA_Data.csv")
dnadata

,Unnamed: 0,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude,Sample Date,Sample Time
0,3,10601.0,2019-06-03 12:08:00,63rd Street,15.0,121.0,42.6,41.78270,-87.574800,2019-06-03,12:08:00
1,4,10600.0,2019-06-03 12:08:00,South Shore,1006.0,16.0,126.9,41.76890,-87.563600,2019-06-03,12:08:00
2,5,10582.0,2019-06-03 12:10:00,North Avenue,69.0,8.0,23.5,41.91480,-87.627300,2019-06-03,12:10:00
3,6,10646.0,2019-06-03 12:12:00,Howard,90.0,169.0,123.3,42.01880,-87.666300,2019-06-03,12:12:00
4,7,10599.0,2019-06-03 12:08:00,Rainbow,150.0,245.0,191.7,41.75800,-87.551000,2019-06-03,12:08:00
...,...,...,...,...,...,...,...,...,...,...,...
6856,24273,3116.0,2017-06-21 00:00:00,Humboldt,1083.0,1028.0,1055.1,41.90643,-87.703717,2017-06-21,00:00:00
6857,24274,7874.0,2018-07-11 00:00:00,Howard,198.0,642.0,356.5,42.01880,-87.666300,2018-07-11,00:00:00
6858,24277,2047.0,2016-08-24 13:13:00,North Avenue,47.0,13.0,24.7,41.91480,-87.627300,2016-08-24,13:13:00
6859,24279,2980.0,2017-06-18 00:00:00,57th Street,10.0,84.0,29.0,41.79110,-87.579700,2017-06-18,00:00:00
6860,24282,3105.0,2017-06-20 00:00:00,South Shore,1142.0,440.0,708.9,41.76890,-87.563600,2017-06-20,00:00:00

In [9]:
dnadata['year'] = pd.DatetimeIndex(dnadata['Sample Date']).year
dnadata

,Unnamed: 0,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude,Sample Date,Sample Time,year
0,3,10601.0,2019-06-03 12:08:00,63rd Street,15.0,121.0,42.6,41.78270,-87.574800,2019-06-03,12:08:00,2019
1,4,10600.0,2019-06-03 12:08:00,South Shore,1006.0,16.0,126.9,41.76890,-87.563600,2019-06-03,12:08:00,2019
2,5,10582.0,2019-06-03 12:10:00,North Avenue,69.0,8.0,23.5,41.91480,-87.627300,2019-06-03,12:10:00,2019
3,6,10646.0,2019-06-03 12:12:00,Howard,90.0,169.0,123.3,42.01880,-87.666300,2019-06-03,12:12:00,2019
4,7,10599.0,2019-06-03 12:08:00,Rainbow,150.0,245.0,191.7,41.75800,-87.551000,2019-06-03,12:08:00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
6856,24273,3116.0,2017-06-21 00:00:00,Humboldt,1083.0,1028.0,1055.1,41.90643,-87.703717,2017-06-21,00:00:00,2017
6857,24274,7874.0,2018-07-11 00:00:00,Howard,198.0,642.0,356.5,42.01880,-87.666300,2018-07-11,00:00:00,2018
6858,24277,2047.0,2016-08-24 13:13:00,North Avenue,47.0,13.0,24.7,41.91480,-87.627300,2016-08-24,13:13:00,2016
6859,24279,2980.0,2017-06-18 00:00:00,57th Street,10.0,84.0,29.0,41.79110,-87.579700,2017-06-18,00:00:00,2017
6860,24282,3105.0,2017-06-20 00:00:00,South Shore,1142.0,440.0,708.9,41.76890,-87.563600,2017-06-20,00:00:00,2017

In [10]:
##