In [48]:
import pandas as pd
import datetime

In [37]:
dna_data = pd.read_csv("Cleaned_Date_Culture_Data.csv")

In [38]:
dna_data.head()

,Unnamed: 0,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Latitude,Longitude,Sample Date,Sample Time
0,2231,113666.0,2016-08-04 08:30:00,Humboldt,1.0,1.0,1.0,41.90643,-87.703717,2016-08-04,08:30:00
1,2374,112689.0,2016-06-01 07:15:00,Calumet,629.0,1300.0,904.3,41.71420,-87.529900,2016-06-01,07:15:00
2,2375,112669.0,2016-06-01 08:00:00,Calumet,345.0,517.0,422.3,41.71420,-87.529900,2016-06-01,08:00:00
3,4980,109008.0,2013-05-26 00:00:00,57th Street,17.0,20.0,18.4,41.79110,-87.579700,2013-05-26,00:00:00
4,4983,93134.0,2015-07-07 00:00:00,Leone,727.0,727.0,727.0,42.01310,-87.663500,2015-07-07,00:00:00

In [39]:
test = "2016-08-04"

formatted = datetime.strptime(test, "%Y-%m-%d")

In [40]:
formatted.month

8

In [41]:
dna_data["Sample Month"] = ""

for index, row in dna_data.iterrows():
    
    date = row["Sample Date"]
    
    formatted = datetime.strptime(date, "%Y-%m-%d")
    
    dna_data.loc[index, "Sample Month"] = formatted.month
    
# using striptime: https://stackoverflow.com/questions/26105804/extract-month-from-date-in-python/26105888

In [43]:
dna_data.head()

,Unnamed: 0,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Latitude,Longitude,Sample Date,Sample Time,Sample Month
0,2231,113666.0,2016-08-04 08:30:00,Humboldt,1.0,1.0,1.0,41.90643,-87.703717,2016-08-04,08:30:00,8
1,2374,112689.0,2016-06-01 07:15:00,Calumet,629.0,1300.0,904.3,41.71420,-87.529900,2016-06-01,07:15:00,6
2,2375,112669.0,2016-06-01 08:00:00,Calumet,345.0,517.0,422.3,41.71420,-87.529900,2016-06-01,08:00:00,6
3,4980,109008.0,2013-05-26 00:00:00,57th Street,17.0,20.0,18.4,41.79110,-87.579700,2013-05-26,00:00:00,5
4,4983,93134.0,2015-07-07 00:00:00,Leone,727.0,727.0,727.0,42.01310,-87.663500,2015-07-07,00:00:00,7

In [ ]:
# options from here:

# groupby month, get mean of test result per month, make a bar graph of mean grossness per month

# could also use datetime to get the month and day, subtract january 1 to get what number 
# day it is in the year, plot a line graph and label the appropriate days as as jan 1, feb 1 etc
# instead of the day of the year

#   pros: might look cooler, would sync up with weather data
#   cons: harder :)

# my thoughts - do both? bar graph of how gross the months are seems like a good quick takeaway
# but I think we need more if we want to compare with milwaukee weather

In [49]:
#finding the day of the year
#https://stackoverflow.com/questions/151199/how-to-calculate-number-of-days-between-two-given-dates

bday = datetime.date(2021, 7, 28)
day0 = datetime.date(2020, 12, 31)
delta = bday - day0

delta.days

209

In [57]:
#adding day of the year to make a date

added_back = day0 + delta
added_back

datetime.date(2021, 7, 28)

In [56]:
#putting it back in a string

f"{added_back.year}-{added_back.month}-{added_back.day}"

'2021-7-28'