In [57]:
import pandas as pd
from datetime import datetime

In [58]:
culture_df = pd.read_csv("Raw_Cell_Culture_Data.csv", index_col=0)
culture_df

## Date is currently MM/DD/YYYY

,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Latitude,Longitude
2231,113666.0,08/04/2016 08:30:00 AM,Humboldt,1.0,1.0,1.0,41.90643,-87.703717
2374,112689.0,06/01/2016 07:15:00 AM,Calumet,629.0,1300.0,904.3,41.71420,-87.529900
2375,112669.0,06/01/2016 08:00:00 AM,Calumet,345.0,517.0,422.3,41.71420,-87.529900
4980,109008.0,05/26/2013 12:00:00 AM,57th Street,17.0,20.0,18.4,41.79110,-87.579700
4983,93134.0,07/07/2015 12:00:00 AM,Leone,727.0,727.0,727.0,42.01310,-87.663500
...,...,...,...,...,...,...,...,...
24278,108062.0,08/19/2013 12:00:00 AM,Juneway,2.0,1.0,1.4,42.02240,-87.667400
24280,109868.0,07/31/2014 12:00:00 AM,Leone,25.0,18.0,21.2,42.01310,-87.663500
24281,113525.0,07/26/2016 09:00:00 AM,Howard,30.0,36.0,32.9,42.01880,-87.666300
24283,112193.0,05/24/2012 12:00:00 AM,Howard,10.8,8.6,9.6,42.01880,-87.666300
24284,112347.0,06/16/2014 12:00:00 AM,Rainbow,25.0,12.0,17.3,41.75800,-87.551000

In [59]:
culture_df["Culture Sample 1 Timestamp"] = pd.to_datetime(culture_df["Culture Sample 1 Timestamp"], format='%m/%d/%Y %I:%M:%S %p')
## Returns date as YYYY-MM-DD
## Fixed data in the csv that was giving the errors.

In [41]:
culture_df

,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Latitude,Longitude
2231,113666.0,2016-08-04 08:30:00,Humboldt,1.0,1.0,1.0,41.90643,-87.703717
2374,112689.0,2016-06-01 07:15:00,Calumet,629.0,1300.0,904.3,41.71420,-87.529900
2375,112669.0,2016-06-01 08:00:00,Calumet,345.0,517.0,422.3,41.71420,-87.529900
4980,109008.0,2013-05-26 00:00:00,57th Street,17.0,20.0,18.4,41.79110,-87.579700
4983,93134.0,2015-07-07 00:00:00,Leone,727.0,727.0,727.0,42.01310,-87.663500
...,...,...,...,...,...,...,...,...
24278,108062.0,2013-08-19 00:00:00,Juneway,2.0,1.0,1.4,42.02240,-87.667400
24280,109868.0,2014-07-31 00:00:00,Leone,25.0,18.0,21.2,42.01310,-87.663500
24281,113525.0,2016-07-26 09:00:00,Howard,30.0,36.0,32.9,42.01880,-87.666300
24283,112193.0,2012-05-24 00:00:00,Howard,10.8,8.6,9.6,42.01880,-87.666300
24284,112347.0,2014-06-16 00:00:00,Rainbow,25.0,12.0,17.3,41.75800,-87.551000

In [60]:
culture_df["Sample Date"] = ""
culture_df["Sample Time"] = ""
culture_df["Sample Date"] = [datetime.date(d) for d in culture_df["Culture Sample 1 Timestamp"]]
culture_df["Sample Time"] = [datetime.time(d) for d in culture_df["Culture Sample 1 Timestamp"]]
culture_df

,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Latitude,Longitude,Sample Date,Sample Time
2231,113666.0,2016-08-04 08:30:00,Humboldt,1.0,1.0,1.0,41.90643,-87.703717,2016-08-04,08:30:00
2374,112689.0,2016-06-01 07:15:00,Calumet,629.0,1300.0,904.3,41.71420,-87.529900,2016-06-01,07:15:00
2375,112669.0,2016-06-01 08:00:00,Calumet,345.0,517.0,422.3,41.71420,-87.529900,2016-06-01,08:00:00
4980,109008.0,2013-05-26 00:00:00,57th Street,17.0,20.0,18.4,41.79110,-87.579700,2013-05-26,00:00:00
4983,93134.0,2015-07-07 00:00:00,Leone,727.0,727.0,727.0,42.01310,-87.663500,2015-07-07,00:00:00
...,...,...,...,...,...,...,...,...,...,...
24278,108062.0,2013-08-19 00:00:00,Juneway,2.0,1.0,1.4,42.02240,-87.667400,2013-08-19,00:00:00
24280,109868.0,2014-07-31 00:00:00,Leone,25.0,18.0,21.2,42.01310,-87.663500,2014-07-31,00:00:00
24281,113525.0,2016-07-26 09:00:00,Howard,30.0,36.0,32.9,42.01880,-87.666300,2016-07-26,09:00:00
24283,112193.0,2012-05-24 00:00:00,Howard,10.8,8.6,9.6,42.01880,-87.666300,2012-05-24,00:00:00
24284,112347.0,2014-06-16 00:00:00,Rainbow,25.0,12.0,17.3,41.75800,-87.551000,2014-06-16,00:00:00

In [61]:
culture_df.to_csv("Cleaned_Date_Culture_Data.csv")

In [42]:
dna_df = pd.read_csv("Raw_DNA_Data.csv", index_col=0)
dna_df

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude
3,10601.0,06/03/2019 12:08:00 PM,63rd Street,15.0,121.0,42.6,41.78270,-87.574800
4,10600.0,06/03/2019 12:08:00 PM,South Shore,1006.0,16.0,126.9,41.76890,-87.563600
5,10582.0,06/03/2019 12:10:00 PM,North Avenue,69.0,8.0,23.5,41.91480,-87.627300
6,10646.0,06/03/2019 12:12:00 PM,Howard,90.0,169.0,123.3,42.01880,-87.666300
7,10599.0,06/03/2019 12:08:00 PM,Rainbow,150.0,245.0,191.7,41.75800,-87.551000
...,...,...,...,...,...,...,...,...
24273,3116.0,06/21/2017 12:00:00 AM,Humboldt,1083.0,1028.0,1055.1,41.90643,-87.703717
24274,7874.0,07/11/2018 12:00:00 AM,Howard,198.0,642.0,356.5,42.01880,-87.666300
24277,2047.0,08/24/2016 01:13:00 PM,North Avenue,47.0,13.0,24.7,41.91480,-87.627300
24279,2980.0,06/18/2017 12:00:00 AM,57th Street,10.0,84.0,29.0,41.79110,-87.579700
24282,3105.0,06/20/2017 12:00:00 AM,South Shore,1142.0,440.0,708.9,41.76890,-87.563600

In [43]:
dna_df["DNA Sample Timestamp"] = pd.to_datetime(dna_df["DNA Sample Timestamp"], format='%m/%d/%Y %I:%M:%S %p')
dna_df

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude
3,10601.0,2019-06-03 12:08:00,63rd Street,15.0,121.0,42.6,41.78270,-87.574800
4,10600.0,2019-06-03 12:08:00,South Shore,1006.0,16.0,126.9,41.76890,-87.563600
5,10582.0,2019-06-03 12:10:00,North Avenue,69.0,8.0,23.5,41.91480,-87.627300
6,10646.0,2019-06-03 12:12:00,Howard,90.0,169.0,123.3,42.01880,-87.666300
7,10599.0,2019-06-03 12:08:00,Rainbow,150.0,245.0,191.7,41.75800,-87.551000
...,...,...,...,...,...,...,...,...
24273,3116.0,2017-06-21 00:00:00,Humboldt,1083.0,1028.0,1055.1,41.90643,-87.703717
24274,7874.0,2018-07-11 00:00:00,Howard,198.0,642.0,356.5,42.01880,-87.666300
24277,2047.0,2016-08-24 13:13:00,North Avenue,47.0,13.0,24.7,41.91480,-87.627300
24279,2980.0,2017-06-18 00:00:00,57th Street,10.0,84.0,29.0,41.79110,-87.579700
24282,3105.0,2017-06-20 00:00:00,South Shore,1142.0,440.0,708.9,41.76890,-87.563600

In [50]:
dna_df["Sample Date"] = ""
dna_df["Sample Time"] = ""

In [54]:
dna_df["Date"] = [datetime.date(d) for d in dna_df["DNA Sample Timestamp"]]
dna_df["Sample Time"] = [datetime.time(d) for d in dna_df["DNA Sample Timestamp"]]
dna_df

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude,Date,Sample Time
3,10601.0,2019-06-03 12:08:00,63rd Street,15.0,121.0,42.6,41.78270,-87.574800,2019-06-03,12:08:00
4,10600.0,2019-06-03 12:08:00,South Shore,1006.0,16.0,126.9,41.76890,-87.563600,2019-06-03,12:08:00
5,10582.0,2019-06-03 12:10:00,North Avenue,69.0,8.0,23.5,41.91480,-87.627300,2019-06-03,12:10:00
6,10646.0,2019-06-03 12:12:00,Howard,90.0,169.0,123.3,42.01880,-87.666300,2019-06-03,12:12:00
7,10599.0,2019-06-03 12:08:00,Rainbow,150.0,245.0,191.7,41.75800,-87.551000,2019-06-03,12:08:00
...,...,...,...,...,...,...,...,...,...,...
24273,3116.0,2017-06-21 00:00:00,Humboldt,1083.0,1028.0,1055.1,41.90643,-87.703717,2017-06-21,00:00:00
24274,7874.0,2018-07-11 00:00:00,Howard,198.0,642.0,356.5,42.01880,-87.666300,2018-07-11,00:00:00
24277,2047.0,2016-08-24 13:13:00,North Avenue,47.0,13.0,24.7,41.91480,-87.627300,2016-08-24,13:13:00
24279,2980.0,2017-06-18 00:00:00,57th Street,10.0,84.0,29.0,41.79110,-87.579700,2017-06-18,00:00:00
24282,3105.0,2017-06-20 00:00:00,South Shore,1142.0,440.0,708.9,41.76890,-87.563600,2017-06-20,00:00:00

In [62]:
dna_df.to_csv("Cleaned_Date_DNA_Data.csv")